{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "node": true,
    "commonjs": true
  },
  "plugins": [
    "eslint-plugin-import"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".json", ".jsx"]
      }
    }
  },
  "rules": {
    "import/no-unresolved": "error"
  }
}
